body {
  background: #535353;
}

:root {
  --btn-width: 250px;
  --btn-height: 80px;
  --btn-bg: #2b2d2f;
  --text-color: #71dfbe;
  --shrink-duration: 400ms;
  --draw-duration: 500ms;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  font-size: 30px;
  height: var(--btn-height);
  width: var(--btn-width);
  background-color: var(--btn-bg);
  color: var(--text-color);
  border: none;
  border-radius: .125em;
}

.checkContainer {
  background-color: var(--btn-bg);
  height: var(--btn-height);
  width: var(--btn-width);
  display: none;
  justify-content: center;
  align-items: center;
  animation: shrink var(--shrink-duration) forwards;
  animation-timing-function: cubic-bezier(0.02, 0.85, 0.53, 1.39);
}

.btn.animate + .checkContainer {
  display: flex;
}

.checkContainer svg {
  width: 40px;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-dasharray: 40.84104919433594;
  stroke-dashoffset: 40.84104919433594;
  stroke: var(--text-color);
  animation: draw var(--draw-duration) var(--shrink-duration) forwards;
}


.btn.animate {
  display: none;
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes shrink {
  50% {
    height: calc(var(--btn-height) * 1.1);
    width: calc(var(--btn-width) * 1.3);
    border-radius: 20px;;
  }

  100% {
    border-radius: 100%;
    width: var(--btn-height);
  }
}